@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
        --form-head-bg: linear-gradient(to right, #7F00F8, #F80200);
        --index-bg: linear-gradient(to right, #BA02F7, #7B02F7);
        --black-bg: linear-gradient(to right, #000000, #101010);
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        font-size: 62.5%;
}

body {
        background-color: #000000;
}

