.section2 {
        overflow: hidden;
        display: grid;
        width: 35rem;
        height: 20rem;
        background-image: linear-gradient(to right, #BA02F7, #7B02F7);
        border-radius: 4rem;
        position: relative;
        top: 16rem;
        transition: all 0.3s;
}

.section2-svg {
        fill: #FFFFFF;
        width: 12rem;
        height: 12rem;
        position: absolute;
        left: 2rem;
        top: 4rem;

}
